openapi: 3.0.1
info:
  title: Authentication Access Token Provision Requests API
  version: 1.0.0
  termsOfService: https://usc.pax8.com/resource/display/65345
  description: The Access Token that allows access to the Pax8 API
servers:
- url: https://api.pax8.com/v1
security:
- OAuth2: []
tags:
- name: Provision Requests
paths:
  /provision-requests:
    get:
      tags:
      - Provision Requests
      summary: Get All Provision Requests
      operationId: getAllProvisionRequests
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageDTOProvisionRequest'
  /provision-requests/{provisionRequestId}:
    get:
      tags:
      - Provision Requests
      summary: Get One Provision Request
      operationId: getOneProvisionRequest
      parameters:
      - name: provisionRequestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProvisionRequest'
  /provision-requests/unfulfilled:
    get:
      tags:
      - Provision Requests
      summary: Get All Unfulfilled Provision Requests
      operationId: getAllUnfulfilledProvisionRequests
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageDTOProvisionRequest'
components:
  schemas:
    ProvisionRequest:
      type: object
      properties:
        id:
          type: string
          format: uuid
        partnerId:
          type: string
          format: uuid
        partnerName:
          type: string
        partnerDomain:
          type: string
        partnerAddress:
          $ref: '#/components/schemas/Address'
        partnerEnrollmentId:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        companyName:
          type: string
        companyDomain:
          type: string
        companyAddress:
          $ref: '#/components/schemas/Address'
        productId:
          type: string
          format: uuid
        oldProductId:
          type: string
          format: uuid
        productName:
          type: string
        quantity:
          type: integer
          format: int64
        subscriptionId:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - NetNew
          - Update
          - Deprovision
          - TrialCreate
          - TrialConvert
          - ChangeProduct
          - PartnerEnrollment
          - Renewal
        createdDate:
          type: string
          format: date-time
        trialEndDate:
          type: string
          format: date-time
        trialAutoConverts:
          type: boolean
        commitmentTermMonths:
          type: integer
          description: Deprecated. Use commitment.term.months instead
          format: int32
        commitmentTermEndDate:
          type: string
          description: Deprecated. Use commitment.term.endDate instead
          format: date-time
        commitment:
          $ref: '#/components/schemas/Commitment'
        billingTerm:
          type: string
          enum:
          - 2 Year
          - 3 Year
          - Activation
          - Annual
          - Monthly
          - One-Time
          - Trial
    VolumeCommitment:
      type: object
      properties:
        minAmount:
          type: number
          description: Minimum commitment amount (must be less than maxAmount)
        maxAmount:
          type: number
          description: Maximum commitment amount (must be greater than minAmount when present)
        unitOfMeasure:
          type: string
          enum:
          - Agents
          - Devices
          - Endpoints
          - Environments
          - Levels
          - Points
          - Users
          - AUD
          - CAD
          - CHF
          - DKK
          - EUR
          - GBP
          - IDR
          - MYR
          - NOK
          - NZD
          - PHP
          - SEK
          - SGD
          - THB
          - USD
          - VND
        months:
          type: integer
          format: int32
      description: Details relating to volume commitments. When both minAmount AND maxAmount are specified, minAmount shall be less than maxAmount.
    Commitment:
      type: object
      properties:
        term:
          $ref: '#/components/schemas/CommitmentTerm'
        volume:
          $ref: '#/components/schemas/VolumeCommitment'
    PageInfo:
      required:
      - number
      - size
      - totalElements
      - totalPages
      type: object
      properties:
        size:
          type: integer
          format: int32
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        number:
          type: integer
          format: int32
    CommitmentTerm:
      type: object
      properties:
        months:
          type: integer
          format: int32
        endDate:
          type: string
          format: date-time
    Address:
      type: object
      properties:
        street:
          type: string
        street2:
          type: string
        city:
          type: string
        postcode:
          type: string
        country:
          type: string
        stateOrProvince:
          type: string
    PageDTOProvisionRequest:
      required:
      - content
      - page
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/ProvisionRequest'
        page:
          $ref: '#/components/schemas/PageInfo'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://token-manager.pax8.com/oauth/token
          scopes: {}
