openapi: 3.0.1
info:
  title: Authentication Access Token Webhooks API
  version: 1.0.0
  termsOfService: https://usc.pax8.com/resource/display/65345
  description: The Access Token that allows access to the Pax8 API
servers:
- url: https://api.pax8.com/v1
security:
- OAuth2: []
tags:
- name: Webhooks
paths:
  /webhooks:
    get:
      operationId: Webhooks_query
      summary: Query webhooks
      description: Lists instances of WebhookView with the ability to query against fields in WebhookView.
      parameters:
      - name: query
        in: query
        required: false
        description: String value to query webhooks.
        schema:
          type: string
        explode: false
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
        explode: false
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
        explode: false
      - name: active
        in: query
        required: false
        schema:
          type: boolean
        explode: false
      - name: topic
        in: query
        required: false
        schema:
          type: string
        explode: false
      - name: sort
        in: query
        required: false
        description: 'Sort field and order, format: field:asc/desc'
        schema:
          type: string
        explode: false
      - name: status
        in: query
        required: false
        description: Filter value for the last delivery status of the webhook
        schema:
          type: string
        explode: false
      - name: accountId
        in: query
        required: false
        schema:
          type: string
          format: uuid
        explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPagedResult'
        '400':
          description: The request is missing required parameters or has invalid parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - BAD_REQUEST
                    message:
                      type: string
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - UNAUTHORIZED
                    message:
                      type: string
        '403':
          description: User does not have permission to access this resource
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - FORBIDDEN
                    message:
                      type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - INTERNAL_SERVER_ERROR
                    message:
                      type: string
      tags:
      - Webhooks
    post:
      operationId: Webhooks_create
      summary: Create webhook
      description: Create an instance of WebhookView.
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: The request is missing required parameters or has invalid parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - BAD_REQUEST
                    message:
                      type: string
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - UNAUTHORIZED
                    message:
                      type: string
        '403':
          description: User does not have permission to access this resource
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - FORBIDDEN
                    message:
                      type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - INTERNAL_SERVER_ERROR
                    message:
                      type: string
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhook'
  /webhooks/{id}:
    get:
      operationId: Webhooks_get
      summary: Get webhook by ID
      description: Reads an instance of WebhookView.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: The request is missing required parameters or has invalid parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - BAD_REQUEST
                    message:
                      type: string
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - UNAUTHORIZED
                    message:
                      type: string
        '403':
          description: User does not have permission to access this resource
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - FORBIDDEN
                    message:
                      type: string
        '404':
          description: The server cannot find the requested resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - NOT_FOUND
                    message:
                      type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - INTERNAL_SERVER_ERROR
                    message:
                      type: string
      tags:
      - Webhooks
    delete:
      operationId: Webhooks_delete
      summary: Delete webhook
      description: Delete an instance of WebhookView.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
        '400':
          description: The request is missing required parameters or has invalid parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - BAD_REQUEST
                    message:
                      type: string
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - UNAUTHORIZED
                    message:
                      type: string
        '403':
          description: User does not have permission to access this resource
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - FORBIDDEN
                    message:
                      type: string
        '404':
          description: The server cannot find the requested resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - NOT_FOUND
                    message:
                      type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - INTERNAL_SERVER_ERROR
                    message:
                      type: string
      tags:
      - Webhooks
  /webhooks/{id}/configuration:
    post:
      operationId: updateConfiguration
      summary: Update webhook configuration
      description: Update a webhook's configuration. This will replace the configuration details
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: The request is missing required parameters or has invalid parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - BAD_REQUEST
                    message:
                      type: string
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - UNAUTHORIZED
                    message:
                      type: string
        '403':
          description: User does not have permission to access this resource
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - FORBIDDEN
                    message:
                      type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - INTERNAL_SERVER_ERROR
                    message:
                      type: string
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookConfiguration'
  /webhooks/{id}/status:
    post:
      operationId: updateStatus
      summary: Update webhook status
      description: Update a webhook's active status
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: The request is missing required parameters or has invalid parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - BAD_REQUEST
                    message:
                      type: string
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - UNAUTHORIZED
                    message:
                      type: string
        '403':
          description: User does not have permission to access this resource
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - FORBIDDEN
                    message:
                      type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - INTERNAL_SERVER_ERROR
                    message:
                      type: string
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookStatus'
  /webhooks/{id}/topics:
    post:
      operationId: addWebhookTopic
      summary: Add webhook topic
      description: Add a topic to a webhook. This api only adds, does not replace topics or updates existing topics. Will throw if a topic type exists for this webhook already.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: The request is missing required parameters or has invalid parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - BAD_REQUEST
                    message:
                      type: string
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - UNAUTHORIZED
                    message:
                      type: string
        '403':
          description: User does not have permission to access this resource
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - FORBIDDEN
                    message:
                      type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - INTERNAL_SERVER_ERROR
                    message:
                      type: string
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddWebhookTopic'
    put:
      operationId: replaceWebhookTopics
      summary: Replace all webhook topics
      description: Replace all webhook topics
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: The request is missing required parameters or has invalid parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - BAD_REQUEST
                    message:
                      type: string
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - UNAUTHORIZED
                    message:
                      type: string
        '403':
          description: User does not have permission to access this resource
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - FORBIDDEN
                    message:
                      type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - INTERNAL_SERVER_ERROR
                    message:
                      type: string
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceWebhookTopics'
  /webhooks/{id}/topics/{topicId}:
    delete:
      operationId: removeWebhookTopic
      summary: Remove webhook topic
      description: Remove a specific topic from a webhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: topicId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: 'There is no content to send for this request, but the headers may be useful. '
        '400':
          description: The request is missing required parameters or has invalid parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - BAD_REQUEST
                    message:
                      type: string
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - UNAUTHORIZED
                    message:
                      type: string
        '403':
          description: User does not have permission to access this resource
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - FORBIDDEN
                    message:
                      type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - INTERNAL_SERVER_ERROR
                    message:
                      type: string
      tags:
      - Webhooks
  /webhooks/{id}/topics/{topicId}/configuration:
    post:
      operationId: updateWebhookTopicConfiguration
      summary: Update topic configuration
      description: Update the configuration of a specific topic on a webhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: topicId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: The request is missing required parameters or has invalid parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - BAD_REQUEST
                    message:
                      type: string
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - UNAUTHORIZED
                    message:
                      type: string
        '403':
          description: User does not have permission to access this resource
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - FORBIDDEN
                    message:
                      type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - INTERNAL_SERVER_ERROR
                    message:
                      type: string
      tags:
      - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookTopicConfiguration'
  /webhooks/{id}/topics/{topic}/test:
    post:
      operationId: testWebhookTopic
      summary: Test webhook topic
      description: Test a webhook by sending a test event for a specific topic. This will send a example payload of what this topic provides.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: topic
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookTest'
        '400':
          description: The request is missing required parameters or has invalid parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - BAD_REQUEST
                    message:
                      type: string
        '401':
          description: Missing or invalid token
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - UNAUTHORIZED
                    message:
                      type: string
        '403':
          description: User does not have permission to access this resource
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - FORBIDDEN
                    message:
                      type: string
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: integer
                    format: int32
                  instance:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          format: int32
                      allOf:
                      - type: object
                        required:
                        - type
                        - message
                        properties:
                          type:
                            $ref: '#/components/schemas/ErrorType'
                          message:
                            type: string
                allOf:
                - type: object
                  required:
                  - type
                  - message
                  properties:
                    type:
                      type: string
                      enum:
                      - INTERNAL_SERVER_ERROR
                    message:
                      type: string
      tags:
      - Webhooks
components:
  schemas:
    Webhook:
      type: object
      required:
      - id
      - accountId
      - displayName
      - active
      - errorThreshold
      - webhookTopics
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the webhook
          readOnly: true
        accountId:
          type: string
          format: uuid
          description: Account ID that owns this webhook
        displayName:
          type: string
          description: Display name for the webhook
        url:
          type: string
          description: URL where webhook events will be sent
        authorization:
          type: string
          description: Authorization header value for webhook
        active:
          type: boolean
          description: Whether the webhook is active
        contactEmail:
          type: string
          description: Email address to notify when webhook delivery errors occur
        errorThreshold:
          type: integer
          format: int32
          description: Number of times a webhook will be retried and consecutive errors will result in an email notification
        integrationId:
          type: string
          format: uuid
          description: Id of the integration this webhook is associated with, if applicable
        webhookTopics:
          type: array
          items:
            $ref: '#/components/schemas/WebhookTopic'
          description: List of topics and configurations this webhook subscribes to
        lastDeliveryStatus:
          allOf:
          - $ref: '#/components/schemas/WebhookDeliveryStatus'
          description: Last delivery status of the webhook
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the webhook was created
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the webhook was last updated
          readOnly: true
      description: Webhook subscription information
    ReplaceWebhookTopics:
      type: object
      required:
      - webhookTopics
      properties:
        webhookTopics:
          type: array
          items:
            $ref: '#/components/schemas/AddWebhookTopic'
          description: List of webhook topics to replace existing ones
      description: Command for replacing webhook topics
    ErrorType:
      type: string
      enum:
      - NOT_FOUND
      - UNAUTHORIZED
      - FORBIDDEN
      - BAD_REQUEST
      - INTERNAL_SERVER_ERROR
      - INVALID_PARAM
      description: The type of error that occurred
    WebhookPagedResult:
      type: object
      required:
      - content
      - page
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'
          description: List of webhooks
        page:
          allOf:
          - $ref: '#/components/schemas/Page'
          description: Page information
      description: Paged response for webhooks
    Page:
      type: object
      required:
      - number
      - size
      - totalElements
      - totalPages
      properties:
        number:
          type: integer
          format: int32
          default: 0
        size:
          type: integer
          format: int32
          default: 0
        totalElements:
          type: integer
          format: int64
          default: 0
        totalPages:
          type: integer
          format: int32
          default: 0
    WebhookDeliveryStatus:
      type: string
      enum:
      - PENDING
      - SUCCESS
      - FAILED
      - RETRYING
      description: Status of webhook delivery
    WebhookTest:
      type: object
      required:
      - url
      - webhook
      properties:
        url:
          type: string
          description: URL that was called
        webhook:
          allOf:
          - $ref: '#/components/schemas/Webhook'
          description: Full webhook configuration that was tested
        samplePayload:
          type: object
          additionalProperties: {}
          description: Sample payload that was sent
      description: Response from testing a webhook
    WebhookTopic:
      type: object
      required:
      - id
      - topic
      - filters
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the webhook topic
        topic:
          type: string
          description: The topic name
        filters:
          type: array
          items:
            $ref: '#/components/schemas/WebhookFilter'
          description: Advanced filtering configuration
      description: Topic configuration for a webhook subscription
    AddWebhookTopic:
      type: object
      required:
      - topic
      - filters
      properties:
        topic:
          type: string
          description: The topic name to subscribe to
        filters:
          type: array
          items:
            $ref: '#/components/schemas/UpdateWebhookFilter'
          description: Advanced filtering configuration
      description: Command for webhook topic configuration
    FilterOperator:
      type: string
      enum:
      - EQUALS
      - NOT_EQUALS
      - GREATER_THAN
      - LESS_THAN
      - IN
      - NOT_IN
      - CONTAINS
      description: Filter operator for webhook conditions
    UpdateWebhookTopicConfiguration:
      type: object
      required:
      - filters
      properties:
        filters:
          type: array
          items:
            $ref: '#/components/schemas/UpdateWebhookFilter'
          description: Advanced filtering configuration
      description: Command for updating webhook topic configuration
    WebhookFilter:
      type: object
      required:
      - action
      - conditions
      properties:
        action:
          type: string
          description: Action to filter on
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/FilterCondition'
          description: List of conditions that must all be true
      description: Filter configuration for webhook actions
    FilterCondition:
      type: object
      required:
      - field
      - operator
      - value
      properties:
        field:
          type: string
          description: Field path to filter on
        operator:
          allOf:
          - $ref: '#/components/schemas/FilterOperator'
          description: Operator to use for comparison
        value:
          type: array
          items:
            type: string
          description: Values to compare against
      description: Condition for filtering webhook events
    UpdateWebhookConfiguration:
      type: object
      properties:
        displayName:
          type: string
          description: Display name for the webhook
        url:
          type: string
          description: URL where webhook events will be sent
        authorization:
          type: string
          description: Authorization header value for webhooks
        contactEmail:
          type: string
          description: Email address to notify when webhook delivery errors occur
        errorThreshold:
          type: integer
          format: int32
          maximum: 20
          description: Number of times a webhook will be retried and consecutive errors will result in an email notification
          default: 3
      description: Command for updating a webhook's configuration
    UpdateWebhookStatus:
      type: object
      required:
      - active
      properties:
        active:
          type: boolean
          description: Whether the webhook should be active
      description: Command for updating a webhook's status
    UpdateWebhookFilter:
      type: object
      required:
      - action
      - conditions
      properties:
        action:
          type: string
          description: Action to filter on
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/UpdateFilterCondition'
          description: List of conditions that must all be true
      description: Command for webhook filter configuration
    UpdateFilterCondition:
      type: object
      required:
      - field
      - operator
      - value
      properties:
        field:
          type: string
          description: Field path to filter on
        operator:
          allOf:
          - $ref: '#/components/schemas/FilterOperator'
          description: Operator to use for comparison
        value:
          type: array
          items:
            type: string
          description: Values to compare against
      description: Command for filter condition
    CreateWebhook:
      type: object
      required:
      - displayName
      properties:
        displayName:
          type: string
          description: Display name for the webhook
        url:
          type: string
          description: URL where webhook events will be sent
        authorization:
          type: string
          description: Authorization header value for webhook commands
        active:
          type: boolean
          description: Whether the webhook is active
          default: false
        contactEmail:
          type: string
          description: Email address to notify when webhook delivery errors occur
        errorThreshold:
          type: integer
          format: int32
          maximum: 20
          description: Number of times a webhook will be retried and consecutive errors will result in an email notification
          default: 3
        integrationId:
          type: string
          format: uuid
          description: 'Id of the integration this webhook is associated with. This is required for 3rd party integrators '
        webhookTopics:
          type: array
          items:
            $ref: '#/components/schemas/AddWebhookTopic'
          description: List of topics and configurations this webhook subscribes to
          default: []
      description: Command for creating a new webhook
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://token-manager.pax8.com/oauth/token
          scopes: {}
