openapi: 3.2.0
info:
  title: Vendor Provisioning Endpoints Provision Details API
  description: Vendor Provisioning Endpoints
  version: v0
servers:
- url: https://api.pax8.com/v2
  description: Pax8 API
security:
- OAuth2: []
tags:
- name: Provision Details
paths:
  /provision-requests/{provisionRequestId}/details:
    get:
      tags:
      - Provision Details
      summary: Get All Provision Details for a Provision Request
      operationId: getAllProvisionDetails
      parameters:
      - name: provisionRequestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageDTOProvisionDetail'
  /provision-requests/{provisionRequestId}/details/{provisionDetailId}:
    get:
      tags:
      - Provision Details
      summary: Get One Provision Detail by Provision Request ID
      operationId: getOneProvisionDetail
      parameters:
      - name: provisionRequestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: provisionDetailId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProvisionDetail'
  /provision-requests/{provisionRequestId}/details/latest:
    get:
      tags:
      - Provision Details
      summary: Get Latest Provision Detail by Provision Request ID
      operationId: getLatestProvisionDetail
      parameters:
      - name: provisionRequestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProvisionDetail'
components:
  schemas:
    ProvisionDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
        provisionRequestId:
          type: string
          format: uuid
        details:
          type: object
          additionalProperties:
            type: object
        createdDate:
          type: string
          format: date-time
    PageInfo:
      required:
      - number
      - size
      - totalElements
      - totalPages
      type: object
      properties:
        size:
          type: integer
          format: int32
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        number:
          type: integer
          format: int32
    PageDTOProvisionDetail:
      required:
      - content
      - page
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/ProvisionDetail'
        page:
          $ref: '#/components/schemas/PageInfo'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'Requires ''audience'' parameter in token request: `api://provisioning`.


        Simulation credentials will return `vendorSimulation:provisioning` scope.

        Production credentials will return `vendor:provisioning` scope.'
      flows:
        clientCredentials:
          tokenUrl: https://api.pax8.com/v1/token
          scopes:
            vendorSimulation:provisioning: Access to simulation provisioning endpoints
            vendor:provisioning: Access to production provisioning endpoints
x-readme:
  explorer-enabled: true
  proxy-enabled: true
