openapi: 3.2.0
info:
  title: Vendor Provisioning Endpoints Provision Attempts API
  description: Vendor Provisioning Endpoints
  version: v0
servers:
- url: https://api.pax8.com/v2
  description: Pax8 API
security:
- OAuth2: []
tags:
- name: Provision Attempts
paths:
  /provision-requests/{provisionRequestId}/attempts:
    get:
      tags:
      - Provision Attempts
      summary: Get All Provision Attempts for a Provision Request
      operationId: getAllProvisionAttempts
      parameters:
      - name: provisionRequestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: provisionDetailId
        in: query
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageDTOProvisionAttempt'
    post:
      tags:
      - Provision Attempts
      summary: Create Provision Attempt for a Provision Request and Provision Detail
      operationId: createAttemptForRequest
      parameters:
      - name: provisionRequestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProvisionAttempt'
  /provision-requests/{provisionRequestId}/attempts/{provisionAttemptId}:
    get:
      tags:
      - Provision Attempts
      summary: Get Provision Attempt by ID
      operationId: getOneProvisionAttempt
      parameters:
      - name: provisionRequestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: provisionAttemptId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProvisionAttempt'
  /provision-requests/{provisionRequestId}/attempts/latest:
    get:
      tags:
      - Provision Attempts
      summary: Get Latest Provision Attempt for a Provision Request
      operationId: getLatestProvisionAttempt
      parameters:
      - name: provisionRequestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProvisionAttempt'
components:
  schemas:
    ProvisionAttempt:
      type: object
      properties:
        id:
          type: string
          format: uuid
        provisionDetailId:
          type: string
          format: uuid
        webhookId:
          type: string
          format: uuid
        status:
          type: string
        errorDetail:
          type: string
        createdDate:
          type: string
          format: date-time
    PageInfo:
      required:
      - number
      - size
      - totalElements
      - totalPages
      type: object
      properties:
        size:
          type: integer
          format: int32
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        number:
          type: integer
          format: int32
    PageDTOProvisionAttempt:
      required:
      - content
      - page
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/ProvisionAttempt'
        page:
          $ref: '#/components/schemas/PageInfo'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'Requires ''audience'' parameter in token request: `api://provisioning`.


        Simulation credentials will return `vendorSimulation:provisioning` scope.

        Production credentials will return `vendor:provisioning` scope.'
      flows:
        clientCredentials:
          tokenUrl: https://api.pax8.com/v1/token
          scopes:
            vendorSimulation:provisioning: Access to simulation provisioning endpoints
            vendor:provisioning: Access to production provisioning endpoints
x-readme:
  explorer-enabled: true
  proxy-enabled: true
