{"openapi":"3.0.1","info":{"title":"Vendor Provisioning Endpoints","description":"Vendor Provisioning Endpoints","version":"v0"},"servers":[{"url":"https://api.pax8.com/v2","description":"Pax8 API"}],"security":[{"OAuth2":[]}],"paths":{"/provisioners/{provisionerId}/webhooks":{"get":{"tags":["Provisioners"],"summary":"Get All Webhook Configurations for a Provisioner","operationId":"getAllWebhooksForProvisioner","parameters":[{"name":"provisionerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDTOWebhook"}}}}}},"post":{"tags":["Provisioners"],"summary":"Create a Webhook Configuration for a Provisioner","operationId":"createWebhookForProvisioner","parameters":[{"name":"provisionerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookCreate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreatedWebhook"}}}}}}},"/provision-simulations/order-events":{"post":{"tags":["Provisioning Simulations"],"summary":"Create Order Event","operationId":"createOrderEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProvisionTestingOrderEvent"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProvisionTestingOrderEvent"}}}}}}},"/provision-requests/{provisionRequestId}/results":{"get":{"tags":["Provision Results"],"summary":"Get All Provision Results for a Provision Request","operationId":"getAllProvisionResults","parameters":[{"name":"provisionRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"provisionAttemptId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDTOProvisionResult"}}}}}},"post":{"tags":["Provision Results"],"summary":"Create Provision Result","operationId":"createProvisionResult","parameters":[{"name":"provisionRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProvisionResult"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProvisionResult"}}}}}}},"/provision-requests/{provisionRequestId}/attempts":{"get":{"tags":["Provision Attempts"],"summary":"Get All Provision Attempts for a Provision Request","operationId":"getAllProvisionAttempts","parameters":[{"name":"provisionRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"provisionDetailId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDTOProvisionAttempt"}}}}}},"post":{"tags":["Provision Attempts"],"summary":"Create Provision Attempt for a Provision Request and Provision Detail","operationId":"createAttemptForRequest","parameters":[{"name":"provisionRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProvisionAttempt"}}}}}}},"/provisioners":{"get":{"tags":["Provisioners"],"summary":"Get All Provisioners","operationId":"getAllProvisioners","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDTOProvisioner"}}}}}}},"/provisioners/{provisionerId}":{"get":{"tags":["Provisioners"],"summary":"Get One Provisioner by ID","operationId":"getOneProvisioner","parameters":[{"name":"provisionerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Provisioner"}}}}}}},"/provisioners/{provisionerId}/webhooks/{webhookId}":{"get":{"tags":["Provisioners"],"summary":"Get One Webhook for a Provisioner","operationId":"getOneWebhookForProvisioner","parameters":[{"name":"provisionerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"webhookId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Webhook"}}}}}}},"/provisioners/{provisionerId}/webhooks/latest":{"get":{"tags":["Provisioners"],"summary":"Get Latest Webhook for a Provisioner","operationId":"getLatestWebhookForProvisioner","parameters":[{"name":"provisionerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Webhook"}}}}}}},"/provision-requests":{"get":{"tags":["Provision Requests"],"summary":"Get All Provision Requests","operationId":"getAllProvisionRequests","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDTOProvisionRequest"}}}}}}},"/provision-requests/{provisionRequestId}":{"get":{"tags":["Provision Requests"],"summary":"Get One Provision Request","operationId":"getOneProvisionRequest","parameters":[{"name":"provisionRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProvisionRequest"}}}}}}},"/provision-requests/{provisionRequestId}/results/{provisionResultId}":{"get":{"tags":["Provision Results"],"summary":"Get One Provision Result","operationId":"getOneProvisionResult","parameters":[{"name":"provisionRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"provisionResultId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProvisionResult"}}}}}}},"/provision-requests/{provisionRequestId}/results/latest":{"get":{"tags":["Provision Results"],"summary":"Get Latest Provision Result for an Order","operationId":"getLatestProvisionResult","parameters":[{"name":"provisionRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProvisionResult"}}}}}}},"/provision-requests/{provisionRequestId}/details":{"get":{"tags":["Provision Details"],"summary":"Get All Provision Details for a Provision Request","operationId":"getAllProvisionDetails","parameters":[{"name":"provisionRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDTOProvisionDetail"}}}}}}},"/provision-requests/{provisionRequestId}/details/{provisionDetailId}":{"get":{"tags":["Provision Details"],"summary":"Get One Provision Detail by Provision Request ID","operationId":"getOneProvisionDetail","parameters":[{"name":"provisionRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"provisionDetailId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProvisionDetail"}}}}}}},"/provision-requests/{provisionRequestId}/details/latest":{"get":{"tags":["Provision Details"],"summary":"Get Latest Provision Detail by Provision Request ID","operationId":"getLatestProvisionDetail","parameters":[{"name":"provisionRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProvisionDetail"}}}}}}},"/provision-requests/{provisionRequestId}/attempts/{provisionAttemptId}":{"get":{"tags":["Provision Attempts"],"summary":"Get Provision Attempt by ID","operationId":"getOneProvisionAttempt","parameters":[{"name":"provisionRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"provisionAttemptId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProvisionAttempt"}}}}}}},"/provision-requests/{provisionRequestId}/attempts/latest":{"get":{"tags":["Provision Attempts"],"summary":"Get Latest Provision Attempt for a Provision Request","operationId":"getLatestProvisionAttempt","parameters":[{"name":"provisionRequestId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProvisionAttempt"}}}}}}},"/provision-requests/unfulfilled":{"get":{"tags":["Provision Requests"],"summary":"Get All Unfulfilled Provision Requests","operationId":"getAllUnfulfilledProvisionRequests","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDTOProvisionRequest"}}}}}}}},"components":{"schemas":{"SharedSecretCreate":{"type":"object","properties":{"header":{"type":"string"}}},"WebhookCreate":{"required":["url"],"type":"object","properties":{"url":{"type":"string"},"sharedSecret":{"$ref":"#/components/schemas/SharedSecretCreate"}}},"CreatedSharedSecret":{"required":["credential","header"],"type":"object","properties":{"header":{"type":"string"},"credential":{"type":"string"}}},"CreatedWebhook":{"required":["createdDate","sharedSecret","url"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"url":{"type":"string"},"sharedSecret":{"$ref":"#/components/schemas/CreatedSharedSecret"},"createdDate":{"type":"string","format":"date-time"}}},"Address":{"type":"object","properties":{"street":{"type":"string"},"street2":{"type":"string"},"city":{"type":"string"},"postcode":{"type":"string"},"country":{"type":"string"},"stateOrProvince":{"type":"string"}}},"Commitment":{"type":"object","properties":{"term":{"$ref":"#/components/schemas/CommitmentTerm"},"volume":{"$ref":"#/components/schemas/VolumeCommitment"}}},"CommitmentTerm":{"type":"object","properties":{"months":{"type":"integer","format":"int32"},"endDate":{"type":"string","format":"date-time"}}},"ProvisionAttempt":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"provisionDetailId":{"type":"string","format":"uuid"},"webhookId":{"type":"string","format":"uuid"},"status":{"type":"string"},"errorDetail":{"type":"string"},"createdDate":{"type":"string","format":"date-time"}}},"ProvisionDetail":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"provisionRequestId":{"type":"string","format":"uuid"},"details":{"type":"object","additionalProperties":{"type":"object"}},"createdDate":{"type":"string","format":"date-time"}}},"ProvisionRequest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"partnerId":{"type":"string","format":"uuid"},"partnerName":{"type":"string"},"partnerDomain":{"type":"string"},"partnerAddress":{"$ref":"#/components/schemas/Address"},"partnerEnrollmentId":{"type":"string","format":"uuid"},"companyId":{"type":"string","format":"uuid"},"companyName":{"type":"string"},"companyDomain":{"type":"string"},"companyAddress":{"$ref":"#/components/schemas/Address"},"productId":{"type":"string","format":"uuid"},"oldProductId":{"type":"string","format":"uuid"},"productName":{"type":"string"},"quantity":{"type":"integer","format":"int64"},"subscriptionId":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["NetNew","Update","Deprovision","TrialCreate","TrialConvert","ChangeProduct","PartnerEnrollment","Renewal"]},"createdDate":{"type":"string","format":"date-time"},"trialEndDate":{"type":"string","format":"date-time"},"trialAutoConverts":{"type":"boolean"},"commitmentTermMonths":{"type":"integer","description":"Deprecated. Use commitment.term.months instead","format":"int32"},"commitmentTermEndDate":{"type":"string","description":"Deprecated. Use commitment.term.endDate instead","format":"date-time"},"commitment":{"$ref":"#/components/schemas/Commitment"},"billingTerm":{"type":"string","enum":["2 Year","3 Year","Activation","Annual","Monthly","One-Time","Trial"]}}},"ProvisionTestingOrderEvent":{"type":"object","properties":{"provisionRequest":{"$ref":"#/components/schemas/ProvisionRequest"},"provisionDetail":{"$ref":"#/components/schemas/ProvisionDetail"},"provisionAttempt":{"$ref":"#/components/schemas/ProvisionAttempt"}}},"VolumeCommitment":{"type":"object","properties":{"minAmount":{"type":"number","description":"Minimum commitment amount (must be less than maxAmount)"},"maxAmount":{"type":"number","description":"Maximum commitment amount (must be greater than minAmount when present)"},"unitOfMeasure":{"type":"string","enum":["Agents","Devices","Endpoints","Environments","Levels","Points","Users","AUD","CAD","CHF","DKK","EUR","GBP","IDR","MYR","NOK","NZD","PHP","SEK","SGD","THB","USD","VND"]},"months":{"type":"integer","format":"int32"}},"description":"Details relating to volume commitments. When both minAmount AND maxAmount are specified, minAmount shall be less than maxAmount."},"ProvisionResult":{"required":["status"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"provisionAttemptId":{"type":"string","format":"uuid"},"status":{"type":"string","description":"The status of the provision result. Must be either `Success` or `Fail`. If `Fail` an `errorMessage` should be present.","enum":["Success","Fail"]},"errorMessage":{"maxLength":500,"type":"string","description":"When the status is Fail, the `errorMessage` field should contain relevant error information that a person can understand and action. The `errorMessage` input is truncated to 500 characters.","example":"Unable to provision the subscription because the provided email domain is already in use."},"metadata":{"type":"object","additionalProperties":{"type":"object"}},"externalProvisionerSubscriptionId":{"minLength":1,"pattern":"^[a-zA-Z0-9-_]+$","type":"string","description":"Cannot be empty and must only contain alphanumeric values, hyphens and underscores."},"externalProvisionerPartnerId":{"minLength":1,"pattern":"^[a-zA-Z0-9-_]+$","type":"string","description":"Cannot be empty and must only contain alphanumeric values, hyphens and underscores."},"externalProvisionerCompanyId":{"minLength":1,"pattern":"^[a-zA-Z0-9-_]+$","type":"string","description":"Cannot be empty and must only contain alphanumeric values, hyphens and underscores."},"externalProvisionerPartnerEnrollmentId":{"minLength":1,"pattern":"^[a-zA-Z0-9-_]+$","type":"string","description":"Cannot be empty and must only contain alphanumeric values, hyphens and underscores."}}},"PageDTOProvisioner":{"required":["content","page"],"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/Provisioner"}},"page":{"$ref":"#/components/schemas/PageInfo"}}},"PageInfo":{"required":["number","size","totalElements","totalPages"],"type":"object","properties":{"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"}}},"Provisioner":{"required":["name","vendorId"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"createdDate":{"type":"string","format":"date-time"},"vendorId":{"type":"string","format":"uuid"},"name":{"type":"string"}}},"PageDTOWebhook":{"required":["content","page"],"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}},"page":{"$ref":"#/components/schemas/PageInfo"}}},"SharedSecret":{"required":["credential"],"type":"object","properties":{"header":{"type":"string"},"credential":{"type":"string"}}},"Webhook":{"required":["createdDate","sharedSecret","url"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"url":{"type":"string"},"sharedSecret":{"$ref":"#/components/schemas/SharedSecret"},"createdDate":{"type":"string","format":"date-time"}}},"PageDTOProvisionRequest":{"required":["content","page"],"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/ProvisionRequest"}},"page":{"$ref":"#/components/schemas/PageInfo"}}},"PageDTOProvisionResult":{"required":["content","page"],"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/ProvisionResult"}},"page":{"$ref":"#/components/schemas/PageInfo"}}},"PageDTOProvisionDetail":{"required":["content","page"],"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/ProvisionDetail"}},"page":{"$ref":"#/components/schemas/PageInfo"}}},"PageDTOProvisionAttempt":{"required":["content","page"],"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/ProvisionAttempt"}},"page":{"$ref":"#/components/schemas/PageInfo"}}}},"securitySchemes":{"OAuth2":{"type":"oauth2","description":"Requires 'audience' parameter in token request: `api://provisioning`.\n\nSimulation credentials will return `vendorSimulation:provisioning` scope.\nProduction credentials will return `vendor:provisioning` scope.","flows":{"clientCredentials":{"tokenUrl":"https://api.pax8.com/v1/token","scopes":{"vendorSimulation:provisioning":"Access to simulation provisioning endpoints","vendor:provisioning":"Access to production provisioning endpoints"}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}